# preserve (DOS) CRLF line terminators for some files
# for example, 
#   ./expected/segmentationfile.arraylistfile.txt: ASCII text, with CRLF, LF line terminators
#
*.arraylistfile.txt        text eol=crlf
*.bed                      text eol=crlf
